.home{
    display: grid;
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    padding: 40px;
    height: 100vh;
    padding-block: 70px;
}

.home__img{ 
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  z-index: 1;
    box-shadow: 0 0 8px hsla(0,0%,0%,0.3);
    background-size:cover;
}

.home__data{
    max-width: 600px;
    margin-inline: auto;
    padding-top: 20px;

}
.home__data div{
    position: relative;
    right: 10%;
}

.home__title{
    position: relative;
    font-size: var(--h1-font-size);
    line-height: 1.24;
    padding-left: 70px;
}

.home__title span{
    color:  hsl(271, 76%, 53%);
}

.home__title span::before{
    content: '';
    position: absolute;
    left: 0;
    top: 22%;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color:  hsl(271, 76%, 53%);
}
.link{
       position: relative;
       right: 10%;
}
.home__descrip{
    line-height:2.125;
    margin-block: 16px 32px;
}

.color__block{
    position: fixed;
    background-color:  hsl(271, 76%, 53%);
   top:-50%;
   left:-83%;
    width:100%;
    height: 200%;
    transform: rotate(-15deg);
}